.dashboard-username{
    display: block;
    position: absolute;
    width: 20%;
    background: beige;
    border: 1px solid tan;
    height: 20px;
    right: 10px;
    padding: 10px;
    text-align: center;
    top: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px;
}

.dashboard{
    width: 100%;
    display: flex;
}

.question{
    display: inline-block;
    width: 25%;
    background: beige;
    border: 1px solid tan;
    text-align: center;
    padding: 15px;
    margin-top: 200px;
    border-radius: 15px;
    box-shadow: 5px 10px;
    margin-left: 250px;
}

.submit{
    display: block;
    margin: auto;
    margin-top: 10px;
    border-radius: 15px;
    width: 25%;
    box-shadow: 2px 5px;
}