.home{
    display: block;
    width: 20%;
    text-align: center;
    border: 5px solid tan;
    background: beige;
    border-radius: 15px;
    margin-top: 150px;
    margin-left: 250px;
    box-shadow: 5px 10px;
}

a{
    color: black;
    display: block;
    margin-top: 10px;
    margin-bottom: 50px;
}

.form-input{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}
